{% extends "index.html" %}
{% load i18n %}
{% block title %}
    {% trans "Confirm Email" %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <form method="post" action="{% url "core:auth:account_confirm_email" key=confirmation.key %}">
                <legend>{% trans "Confirm Email" %}</legend>
                <fieldset>
                    {% csrf_token %}
                    <p> {% trans 'Confirm email address' %} <b>{{ confirmation.email_address.email }}</b>?</p>
                    <button type="submit" class="btn btn-primary">{% trans "Confirm" %}</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}