{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    <title>{% trans "Log in" %}</title>
{% endblock %}

{% block extra_styles %}
        <link rel="stylesheet" href="{% static 'css/account/login.css' %}">
{% endblock %}

{% block body %}
    <div class="container auth-container">
        <div class="col-xs-6 col-xs-offset-3 login-form">
            <h3>{% trans "Log in to an existing account" %}</h3>
            <p class="text-muted">
                {% trans "Please fill out the form below to login to your account." %}
            </p>
            <div>
                <form
                        role="form"
                        method="POST"
                        action="{% url "account_login" %}"
                        autocapitalize="off"
                        {% if form.is_multipart %}
                        enctype="multipart/form-data"
                        {% endif %}
                >
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        {{ form.username.errors }}
                        <label for="id_username">{% trans "Username or e-mail" %}</label>
                        <input type="text" name="login" maxlength="30" class="form-control"
                               required id="id_login" placeholder="{% trans "Username or e-mail" %}"
                        >
                    </div>
                    <div class="form-group">
                        {{ form.password.errors }}
                        <label for="id_password">{% trans "Password" %}</label>
                        <input type="password" name="password" class="form-control"
                               required id="id_password" placeholder="{% trans "Password" %}"
                        >
                    </div>
                    {% if redirect_field_value %}
                        <div class="form-group">
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        </div>
                    {% endif %}
                    <div class="form-group material-switch pull-left" style="width: 100%;">
                        <input id="id_remember" name="remember" type="checkbox"/>
                        <label for="id_remember" class="label-default"></label>
                        <span class="remember-me">{% trans "Remember Me" %}</span>
                    </div>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-color btn-group-lg">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> {% trans "Log in" %}
                            </button>
                        </div>
                        <div class="full_right" role="group">
                            <a href="/auth/facebook/login/?process=" role="button" class="btn btn-blue btn-group-lg"
                                    style="margin-right: 10px;">
                                <i class="fa fa-facebook" aria-hidden="true"></i> {% trans "Facebook" %}
                            </a>
                            <a href="/auth/google/login/?process=" role="button" class="btn btn-red btn-group-lg">
                                <i class="fa fa-google" aria-hidden="true"></i> {% trans "Google" %}
                            </a>
                        </div>
                    </div>
                </form>
                <hr>
                <p>
                    <b>
                        <a href="{% url "account_reset_password" %}">
                            {% trans "Forgot your password?" %}
                        </a>
                    </b>
                    <small>
                        {% trans "Don't have an account?" %}
                        <b>
                            <a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a>
                        </b>
                    </small>
                </p>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/account/login.js' %}"></script>
{% endblock %}