{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    <title>{% trans "Sign up" %}</title>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/account/login.css' %}">
{% endblock %}

{% block body %}
    <div class="container auth-container">
        <div class="col-xs-6 col-xs-offset-3 login-form">
            <h3 class="text-right-xs">{% trans "Sign Up to your account" %}</h3>
            <p class="text-muted text-right-xs">
                {% trans "Please fill out the form below to create a new account." %}
            </p>
            <div class="form-white">
                <form
                        role="form"
                        id="signup_form"
                        method="post"
                        action="{% url "account_signup" %}"
                        autocapitalize="off"
                        {% if form.is_multipart %}
                            enctype="multipart/form-data"
                        {% endif %}
                >
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        <label for="name">{% trans "Full Name" %}</label>
                        <input type="text" class="form-control" id="name" placeholder="{% trans "Your name" %}" required>
                    </div>
                    <div class="form-group">
                        {{ form.username.errors }}
                        <label for="id_username">{% trans "Username" %}</label>
                        <input type="text" name="username" maxlength="30" class="form-control"
                               required id="id_username" placeholder="{% trans "Username" %}"
                        >
                    </div>
                    <div class="form-group">
                        {{ form.email.errors }}
                        <label for="id_email">{% trans "Email" %}</label>
                        <input type="email" name="email" class="form-control"
                               required id="id_email" placeholder="{% trans "Email" %}"
                        >
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                {{ form.password.errors }}
                                <label for="id_password">{% trans "Password" %}</label>
                                <input type="password" name="password1" class="form-control" required
                                       id="id_password" placeholder="{% trans "Password" %}"
                                >
                            </div>
                            <div class="col-sm-6">
                                {{ form.password_confirm.errors }}
                                <label for="id_password_confirm">{% trans "Password (again)" %}</label>
                                <input type="password" name="password2" class="form-control" required
                                       id="id_password_confirm" placeholder="{% trans "Password (again)" %}"
                                >
                            </div>
                            <div class="col-sm-6">
                                {{ form.code.errors }}
                                <input type="hidden" name="code" class="form-control" id="id_code" autocomplete="off">
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}"
                                           value="{{ redirect_field_value }}"/>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-color btn-group-lg">
                                <i class="fa fa-user-plus" aria-hidden="true"></i> {% trans "Create an account" %}
                            </button>
                        </div>
                        <div class="full_right" role="group">
                            <a href="/auth/facebook/login/?process=" role="button" class="btn btn-blue btn-group-lg"
                                    style="margin-right: 10px;">
                                <i class="fa fa-facebook" aria-hidden="true"></i> {% trans "Facebook" %}
                            </a>
                            <a href="/auth/google/login/?process=" role="button" class="btn btn-red btn-group-lg">
                                <i class="fa fa-google" aria-hidden="true"></i> {% trans "Google" %}
                            </a>
                        </div>
                    </div>
                </form>
                <hr>
                <p class="login-signup">
                    {% trans "Already have an account?" %} <b><a
                        href="{% url 'account_login' %}">{% trans "Log in" %}</a></b>
                </p>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/account/login.js' %}"></script>
{% endblock %}
