Django==1.11.3
gunicorn==19.6.0
psycopg2==2.6.2
whitenoise==3.3.0
django-extensions==1.9.1
Pillow==4.2.1
raven==6.1.0
django-user-accounts==2.0.3
django-rosetta==0.7.13
django-material==1.0.0
unidecode==0.4.21
django-ckeditor==5.3.1
django-allauth==0.34.0

# Heroku Settings Libs
django-herokuify==1.0rc3
dj-database-url==0.4.1
pylibmc>=1.2.3
django-pylibmc-sasl>=0.2.4
django-heroku-memcacheify>=0.3
django-heroku-postgresify>=0.2
django-storages>=1.1.5
boto>=2.6.0
