{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}
{% load app_tags %}

{% block title %}
    <title>{% trans 'Contact Title' %}</title>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/service/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/service/basket.css' %}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 menu-content" ng-controller="BasketController as basket">
            <div class="menu-header-background">
                <h3 class="menu-header">{% trans "your basket" %}</h3>
            </div>
            <div class="col-xs-8 col-xs-offset-2" ng-init="basket.loadCart();">
                <div class="empty-basket" ng-if="!basket.cartItems.length && basket.cart_loaded">
                    <h1 ng-if="!basket.basketIsClosed">{% trans "Your Basket Is Empty" %}</h1>
                    <div ng-if="basket.basketIsClosed">
                        <h1>{% trans "Your Order Now In Processing" %}</h1>
                    </div>
                </div>
                <div class="table-responsive" ng-if="basket.cartItems.length">
                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="3">{% trans 'product' %}</th>
                            <th>{% trans "price" %}</th>
                            <th>{% trans "qty" %}</th>
                            <th>{% trans "total price" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in basket.cartItems track by $index"
                            ng-mouseenter="item.show_remove=true;"
                            ng-mouseleave="item.show_remove=false;"
                        >
                            <td>
                                <i class="fa fa-times" aria-hidden="true"
                                   ng-if="item.show_remove"
                                   style="cursor: pointer"
                                   ng-click="basket.removeFromBasket(item.product.id, $index); "
                                ></i>
                                <i class="fa fa-times" aria-hidden="true"
                                   ng-if="!item.show_remove"
                                   style="background-color: transparent;"
                                ></i>
                            </td>
                            <td>
                                <img src="/static/[[item.product.photo]]"
                                     alt="[[item.product.name]]"
                                     height="100px"
                                     style="border-radius: 50%"
                                >
                            </td>
                            <td ng-bind="item.product.name"></td>
                            <td ng-bind="item.price"></td>
                            <td>
                                <label>
                                    <span class="control-basket">
                                        <i class="fa fa-angle-left" aria-hidden="true"
                                           ng-click="basket.changeBasketItem(item, -1)">
                                        </i>
                                    </span>
                                    <input type="text" id="quantity" name="quantity"
                                           class="form-control input-number quantity"
                                           value="[[ item.quantity ]]"
                                           min="[[ basket.MIN ]]"
                                           max="[[ basket.MAX ]]"
                                           ng-model="item.quantity"
                                           disabled
                                    >
                                    <span class="control-basket">
                                        <i class="fa fa-angle-right" aria-hidden="true"
                                           ng-click="basket.changeBasketItem(item)">
                                        </i>
                                    </span>
                                </label>
                            </td>
                            <td ng-bind="item.total_price"></td>
                        </tr>
                        <tr>
                            <td colspan="4">&nbsp;</td>
                            <td>{% trans "to pay" %}</td>
                            <td ng-bind="basket.totalCost"></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="order-complete col-xs-8 col-xs-offset-2">
                        {% if request.user.is_authenticated %}
                            <form name="order" ng-submit="basket.closeBasket()">
                                <div class="form-group">
                                    <label class="col-xs-10">
                                        <input type="text"
                                               class="address"
                                               name="address"
                                               placeholder="{% trans "Fill Your Address Here" %}"
                                               autocomplete="off"
                                               required
                                               ng-model="basket.address"
                                        >
                                    </label>
                                    <label class="col-xs-10">
                                        <input type="text"
                                               class="address phoneNumber"
                                               name="phone"
                                               placeholder="{% trans "Fill Your Phone Number" %}"
                                               autocomplete="off"
                                               required
                                               ng-model="basket.phoneNumber"
                                               phone-number
                                        >
                                    </label>
                                    <label class="col-xs-10">
                                        <button type="submit" class="col-md-6 col-xs-12 col-sm-8 close-basket">
                                            {% trans 'Close Basket' %}
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </button>
                                    </label>
                                </div>
                            </form>
                        {% else %}
                            <a href="{% url "account_login" %}?next={{ request.path }}"
                               class="login-href"
                            >{% trans "Login in Your Account For Close Order" %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}