{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}
{% load app_tags %}

{% block title %}
    <title>{% trans 'Menu Title' %}</title>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/service/menu.css' %}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 menu-content" ng-controller="BasketController as basket">
            <div class="menu-header-background">
                <h3 class="menu-header">{% trans "Menu" %}</h3>
            </div>
            <div class="col-xs-8 col-xs-offset-2">
                <div class="text-center">
                    <ul class="nav nav-tabs" role="tablist">
                        {% for category in categories %}
                            <li class="nav-item {% if category.active %} active {% endif %}">
                                <a data-toggle="tab"
                                   href="#{{ category.slug }}"
                                   class="nav-link"
                                >{{ category.name | lower }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-content">
                    {% for category in categories %}
                        <div class="tab-pane {% if category.active %} active {% endif %} menu-page"
                             id="{{ category.slug }}"
                             role="tabpanel"
                        >
                            {% with category.products|partition:"3" as products %}
                                {% for row in products %}
                                    <div class="row menu-row">
                                        {% for product in row %}
                                            <div class="col-xs-4 menu-item">
                                                <div class="hovered" ng-click="basket.addToBasket('{{ product.id }}', 1)"></div>
                                                <div class="product-preview" hovered-image>
                                                    <div class="image-container">
                                                        <img src="{% static product.photo %}" alt="{{ product.name }}">
                                                    </div>
                                                </div>
                                                <h3 class="product-title">
                                                    <span class="product-name">{{ product.name }}</span>
                                                    <span class="product-price">{{ product.weight | floatformat }} {{ product.unit_name }}</span>
                                                </h3>
                                                <br><p class="ingredients"><br>{{ product.description }}</p><br>
                                                <h4 class="product-price" hovered-image> {{ product.price | floatformat }} грн.</h4>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% endwith %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script src="{% static 'js/grids.min.js' %}"></script>
    <script>
    $(document).ready(() => {
        $(".menu-item").responsiveEqualHeightGrid();
        $("li.nav-item a").click(() => {
            setTimeout(() => {
                $(".menu-item").responsiveEqualHeightGrid();
            }, 100);
        });
    });
    </script>
{% endblock %}