.empty-basket h1 {
    text-align: center;
    padding: 40px 0;
    color: #f7fbfe;
}

div.table-responsive table thead tr th,
div.table-responsive table tbody tr td {
    text-align: center;
    color: #f7fbfe;
    font-size: 20px;
}

div.table-responsive table thead tr th {
    font-weight: 600;
}

div.table-responsive table tbody tr td {
    vertical-align: middle;
}
div.table-responsive table {
    width: calc(100% - 4px);  /* - 4px для Рамки (Border) */
}

div.table-responsive table tbody tr,
div.table-responsive table tbody tr:last-child:hover {
    outline: solid 2px transparent;
    border-left: transparent;
}

/* MEGA CSS Crutches =) */

div.table-responsive table tbody tr:hover {
    outline: solid 2px #ffc851;
    border-left: solid 2px #ffc851;
}

div.table-responsive table tbody tr td i {
    color: transparent;
}

div.table-responsive table tbody tr:hover td:first-child i {
    color: #f7fbfe;
}

table.table>tbody>tr>td,
table.table>thead>tr>th {
    border: none;
}
table.table {
    margin-top: 20px;
}
table.table>thead {
    background-color: #121619;
}

table.table>tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}


input[type="text"].quantity,
input[type="text"].quantity:hover,
input[type="text"].quantity:active,
input[type="text"].quantity:focus,
input[type="text"].quantity:visited {
    background: transparent;
    color: #f7fbfe;
    border: none;
    outline: none;
    box-shadow: none;
    display: inline;
    text-align: center;
    margin: 0 auto;
    font-size: 17px;
    cursor: default !important;
    width: 50%;
    vertical-align: middle;
    padding: 0;
}

span.control-basket {
    cursor: pointer !important;
}

span.control-basket i {
    color:  #f7fbfe !important;
    font-size: 24px;
    vertical-align: middle;
}

div.table-responsive table {
    user-select: none;
}

form input.address {
    border: 1px solid #f7fbfe;
    color: #f7fbfe;
    background-color: inherit;
    height: 50px;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 40px;
}

form button.close-basket {
    height: 50px;
    border: 1px solid #f7fbfe;
    color: #f7fbfe;
    background-color: inherit;
    font-size: 20px;
    margin-bottom: 20px;
}

a.login-href {
    text-align: center;
    color: #f7fbfe;
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
}

input.phoneNumber {
    background: url(../../images/ua-flag.png) no-repeat scroll 0 10px;
    padding-left: 50px !important;
    background-size: 35px 30px;
}
