#gmap_canvas img {
    max-width: none !important;
    background: none !important
}

#gmap_canvas {
    width: 100%;
    height: 100%;
}

.menu-content .col-xs-10 .col-xs-4 p {
    color: #f7fbfe;
    font-size: 22px;
    line-height: 2em;
}

.menu-content .col-xs-10 {
    padding: 40px 0;
    position: relative;
    display: flex;
}

.menu-content .col-xs-10 .col-xs-4 {
    display: flex;
}

.col-xs-4 .middle-vertical {
    margin: auto;
}

.menu-content .map-container {
    overflow: hidden;
    height: 500px;
    width: 100%;
}

div.contact-header-background {
     background: url("../../images/contact-back.jpg") 100% 10% no-repeat;
     height: 115px;
}
h3.contact-header {
    padding: 40px 0;
    text-align: center;
    background: rgba(255, 200, 81, 0.85);
    height: 100%;
}
