.restaurant-content {
    margin-top: 150px;
    background-color: rgba(18,22,25, 0.96);
    padding: 0;
}
.our-restaurant {
    background: url("../../images/fon.png") 100% 50% no-repeat;
    background-size: cover;
    height: 115px;
    color: #110f12;
    text-align: center;
    padding: 0;
}

.our-restaurant h3{
    font-size: 26px;
    padding: 43px 0;
    background: rgba(250, 200, 81, 0.85);
    height: 100%;
}
.main-content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel-item {
    height: 32em;
    width: 95%;
    display: block;
    margin: 0 auto;
}

.booking{
    height: 30em;
}
.name, .phone, .date, .quantity, .wish, .btn{
    color: white;
    background-color: inherit;
    border: 1px solid white;
    margin: 6px;
    font-size: 16px;
}

.booking-btn {
    margin: 10px auto;
    display: block;
    width: 120px;
}

.booking-btn:hover {
    color: white;
}

.main-content div.carousel-prev button{
    left: 2% !important;
}

.main-content div.carousel-next button{
    right: 2% !important;

}

.booking-title, .photo-title, .blog-title{
    font-size: 26px;
    text-align: center;
    color: #f7fbfe;
    margin: 10px;
}



.ui-carousel .carousel-btn{
    font-size: 50px !important;
    color: white;
}

.parallax {
    background-image: url("../../images/booking.jpg");

    height: 30em;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax1 {
    background-image: url("../../images/make.jpg");

    height: 40em;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog{
    height:35em;
}

.dtp-picker *::-webkit-scrollbar {
    display: none;
}

.md-dialog-container {
    top: 60px !important;
}


.form-booking {
    padding: 40px 0;
}