{% extends "index.html" %}
{% load i18n %}
{% load staticfiles %}
{% load app_tags %}

{% block title %}
<title> {% trans "Blog" %} </title>
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/service/blog.css' %}">
{% endblock %}

{% block body %}

<div class="row">
    <div class="yellow">
        <div class="col-xs-12 our-blog">

            <h3 class="our-blog-title">{% trans "Blog" %}</h3>
        </div>
    </div>


    <div class="col-xs-12 blog-content">
        <div class="col-xs-8 col-xs-offset-2">
            {% if error %}
            <h1>{% trans error %}</h1>
            {% else %}
            {% with articles|partition:"3" as articles_row %}
            {% for row in articles_row %}
            <div class="row article-row">
                {% for article in row %}
                <div class="col-xs-4 article-item">
                    <div class="article-preview">
                        <div class="image-container">
                            <img src="{% static article.image %}" alt="{{ article.title }}">
                            </a>
                        </div>
                    </div>
                    <h3 class="article-title">
                        <p>{{ article.title }}</p>
                    </h3>
                    <h4 class="article-date">
                        <p>{{ article.created_at|date:"d M, y" }}</p>
                    </h4>
                    <p class="description"><br>{{ article.header }}</p>
                    <br><br>
                    <a class="read btn" href="{% url 'service:blog' %}{{article.slug}}">
                        {% trans 'read' %} &nbsp; <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            {% endwith %}

            {% endif %}


        </div>
    </div>
</div>
{% endblock %}
{% block extra_scripts %}
<script src="{% static 'js/grids.min.js' %}"></script>
<script>
    $(document).ready(() => {
        setTimeout(() => {
            $(".article-item").responsiveEqualHeightGrid();
        }, 100);
    });

</script>
{% endblock %}