html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before, blockquote:after {
    content: '';
    content: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-weight: 300;
}

a {
    text-decoration: none;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
}

#main {
    background-color: #fff;
    padding-top: 150px;
}

.container {
    padding: 0;
    margin: 0 auto;
}

section {
    padding: 60px 0;
}

section h1 {
    font-weight: 700;
    margin-bottom: 10px;
}

section p {
    margin-bottom: 30px;
}

section p:last-child {
    margin-bottom: 0;
}

section.color {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

#info-bar a {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    padding: 10px;
}

#info-bar a:hover {
    background-color: var(--main-text-color);
}

#info-bar span.all-tutorials,
#info-bar span.back-to-tutorial {
    display: block;
    width: 50%;
}

#info-bar span.all-tutorials {
    float: left;
    text-align: left;
}

#info-bar span.back-to-tutorial {
    float: right;
    text-align: right;
}

.header nav {
    display: inline-block;
    float: right;
}

.header > .container > nav > a {
    line-height: 150px;
    margin-left: 20px;
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.main_language, .language {
    border: 1px solid transparent;
    color: var(--main-text-color) !important;
    text-align: left;
    background-color: transparent !important;
}

.main_language a.dropdown-toggle,
.main_language a.dropdown-toggle:hover {
    background-color: transparent !important;
    color: #68b3eb !important;
}

a.dropdown-toggle {
    position: relative;
}

.main_language .dropdown a:hover {
    color: white !important;
}

.language_dropdown {
    padding: 0 !important;
}

.language_dropdown {
    max-width: 50px;
    width: 35px !important;
    min-width: 35px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.fixed {
    position: fixed;
    width: 100%;
    z-index: 666;
}

.header {

    background: #121619;
    padding-top: 20px;
}

.social_network {

    color: white;
    font-size: 2.4em;
}

.social_network a {
    margin: 5px;
    float: right;
    color: white;
}

.mani_inf, .exit {
    padding-top: 30px;
    display: flex;
    align-content: center;

}

.mani_inf span {

    line-height: 1.2;
    margin: 0 5px;

}

.mani_inf span a {
    padding-top: 5px;
    color: white;

}

.mani_inf span p {
    color: #68b3eb;

}

.mani_inf .fa-mobile {
    left: 0;
    color: white;
    font-size: 3em;
}

.logo {
    display: flex;
    align-content: center
}

.logo img {
    margin: 0 auto;
    width: 150px;
    height: 105px;
}

.exit {
    justify-content: flex-end;

}

.exit a {
    margin: 0 10px 0 0;
    color: white;
    font-size: 1.5em;
}

.exit .fa-shopping-basket {
    color: white;
    font-size: 2em;
    position: relative;

}

.exit .quantity_of_goods {
    text-align: center;
    font-size: 0.5em;
    color: #121619;
    top: -10px;
    right: -7px;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #ffff00;
    border-radius: 50%;
}

.menu {
    text-align: center;
}

.menu a {
    padding: 20px;
    color: white;
    text-decoration: none;
}

.main_language .lang_name::after {
    margin-left: 10px;
    content: "";
    border: solid currentColor;
    border-width: 0 .2em .2em 0;
    display: inline-block;
    padding: .20em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.language {
    float: right;
}

.footer {
    color: white;
    background: url("../images/fon_footer.png");
}

.footer .black {
    margin: 0;
    z-index: 9;
    height: 300px;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
}

.newsletters {
    padding: 30px;
    text-align: center;
}

.newsletters .email_newsletters, .newsletters .button_newsletters {
    margin: 20px 5px;
    border: 2px solid white;
    background-color: inherit;
}

.slider {
    margin-top: 179px;
    padding-left: 20px;
    background: url('../images/fon.png');
    background-size: cover;
    height: 400px;
    color: white;
    display: flex;
    align-items: center;
}

.slider i {
    position: absolute;
    font-size: 3em;
    bottom: 20px;
    left: 50%;
}

.menu_title {
    padding: 20px 0;
    background: #121619;
    color: white;
    text-align: center;
}

.salt {
    background: url('../images/salt.png');
}

.big {
    overflow: hidden;
    height: 426px;
}

.menu_title h3 {
    padding: 20px;
}

.no-padding {
    padding: 0;
}

.no-padding img {
    width: 100%;
}

.no-margin {
    margin: 0;
}
.relative > div{
    position: relative;
}
.haver {
    position: absolute;
    top:0;
    z-index: 0;
    width: 100%;
    height: 96%;
    color: black;
    font-size: 3em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}


.haver:hover {
    z-index: 333;
    background: rgba(243, 202, 109, 0.85);
}

.haver:hover::before {
    font-family: FontAwesome;
    content: "\f055";
    color: black;

}
.est {
    text-align: center;
    background: url("../images/fon_est.png");
}
.est h3 {
   padding: 20px;
}
.est .yellow {

    padding: 20px;
    margin: 0;
    z-index: 9;
    height: 540px;
    width: 100%;
    background: rgba(243, 202, 109, 0.85);
}
.est .icon img{
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 40%;
}
.est a{
     display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 200px;

}
.est .order{

    background: url("../images/order_fon.png");
    background-size: cover;
}
.est .blog{

    background: url("../images/fon_blog.png");
    background-size: cover;
}
.est .photo{

    background: url("../images/photo_fon.png");
    background-size: cover;
}
.est .black,.est .white {
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left: 0;
    z-index: 33;
    width: 100%;
    height: 100%;
}


.est .black{
color: white;
    background: rgba(0, 0, 0, 0.666);
}
.est .white {
color: black;
    background: rgba(255, 255, 255, 0.666);
}


@media all and (max-width: 660px) {
    header {
        height: 75px;
    }

    header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        text-align: center;
        height: 40px;
        line-height: 40px;
        font-size: 30px;
    }

    header nav {
        display: block;
        float: none;
        text-align: center;
        margin: 0 auto;
        height: 35px;
    }

    header nav a, header nav > ul {
        margin: 0 10px;
        line-height: 35px !important;
    }
}

@media all and (max-width: 600px) {
    .container {
        width: 100%;
    }

    #info-bar a {
        display: block;
    }

    #info-bar span.all-tutorials,
    #info-bar span.back-to-tutorial {
        width: 100%;
    }

    #info-bar span.all-tutorials,
    #info-bar span.back-to-tutorial {
        float: none;
        text-align: center;
    }

    #info-bar span.all-tutorials {
        border-bottom: solid 1px #0793e2;
    }
}
