html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    line-height: 1;
    font-weight: 300;

}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

a img {
    border: none;
}

body {
    font-family: "Poiret One", sans-serif;
    font-weight: 300;

    line-height: 1.8;


}

a {
    text-decoration: none;
}

.container {
    width: 100% !important;
    padding: 0;
    margin: 0 auto;
}

.language {
    border: 1px solid transparent;
    color: black !important;
    text-align: left;
    background-color: transparent !important;
}

.main_language a.dropdown-toggle,
.main_language a.dropdown-toggle:hover {
    background-color: transparent !important;
    color: #68b3eb !important;
}

a.dropdown-toggle {
    position: relative;
}

.main_language .dropdown a:hover {
    color: white !important;
}

.language_dropdown {
    padding: 0 !important;
}

.language_dropdown {
    max-width: 50px;
    width: 35px !important;
    min-width: 35px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.fixed {
    position: fixed;
    width: 100%;
    z-index: 666;
}

.header {
    background: #121619;
    padding-top: 10px;
    height: 130px;
}

.social_network {

    color: white;
    font-size: 2.4em;
}

.social_network a {
    margin: 5px;
    float: right;
    color: white;
}

.mani_inf, .exit {
    padding-top: 30px;
    display: flex;
    align-content: center;

}

.mani_inf span {

    line-height: 1.2;
    margin: 0 5px;

}

.mani_inf span a {
    padding-top: 5px;
    color: white;
    font-size: 11px;

}

.mani_inf span .work-time {
    color: #68b3eb;
}

.mani_inf .fa-mobile {
    left: 0;
    color: white;
    font-size: 3em;
}

.logo {
    display: flex;
    align-content: center
}

.logo img {
    margin: 0 auto;
    width: 25%;
    height: 25%;
}

.exit {
    justify-content: flex-end;

}

.exit a {
    margin: 0 10px 0 0;
    color: white;
    font-size: 1.5em;
}

.exit .fa-shopping-basket {
    color: white;
    font-size: 2em;
    position: relative;

}

.exit .quantity_of_goods {
    text-align: center;
    font-size: 1.9rem;
    color: #121619;
    top: -10px;
    right: -7px;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #ffff00;
    border-radius: 50%;
}

.menu {
    text-align: center;


}

.menu a {
    padding: 0 3%;
    color: #f7fbfe;
    text-decoration: none;
    font-size: 30px;
}

.custom-sel a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin: 0;
    text-align: left;
    color: #68b3eb;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    display: block;
    position: relative;
    z-index: 333;
    background-color: #121619;
}

.custom-sel a.selected {
  background-color: transparent;
}

.hidden {
  display: none;
}

.lightblue {
  color: #68b3eb;
  margin-left: -4px;
}

.show-sel {
  background-color: #ffffff;
  box-shadow: -5px 0 65px 0 rgba(0, 0, 0, 0.18);
}

.custom-sel {
    margin-bottom: 10px;
    display: inline-block;
    float: right;
    position: relative;
    right: 0;
    width: 60px;
    height: 40px;
}

.custom-sel a:hover, .custom-sel a:hover i {
    cursor: pointer;
}

.main_language .lang_name::after {
    margin-left: 10px;
    content: "";
    border: solid currentColor;
    border-width: 0 .2em .2em 0;
    display: inline-block;
    padding: .20em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.landing-menu {
    padding: 0;
    height: 450px;
}

.landing-menu-row {
    height: 450px;
}

.landing-menu-row * {
    height: 100%;
}

.landing-menu-row .col-sm-12 {
    height: 50% !important;
}

.language {
    float: right;
}

.footer {
    color: white;
    background: url("../images/fon_footer.png");
}

.footer .black {
    margin: 0;
    z-index: 9;
    height: 300px;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
}

.newsletters {
    padding: 30px;
    text-align: center;
}

.newsletters .email_newsletters, .newsletters .button_newsletters {
    margin: 20px 5px;
    border: 2px solid white;
    background-color: inherit;
}

.slider {
    margin-top: 130px;
    padding-left: 20px;
    background: url('../images/fon.png');
    background-size: cover;
    height: 400px;
    color: white;
    display: flex;
    align-items: center;
}

.slider i {
    position: absolute;
    font-size: 3em;
    bottom: 20px;
    left: 50%;
}

.menu_title {
    padding: 20px 0;
    background: #121619;
    color: white;
    text-align: center;
}

.salt {
    background: url('../images/salt.png');
}

.big {
    overflow: hidden;
    height: 100%;
}

.big img {
    width: max-content !important;
}

.menu_title h3 {
    padding: 20px;
}

.no-padding {
    padding: 0;
}

.no-padding img {
    width: 100%;
}

.no-margin {
    margin: 0;
}

.relative > div {
    position: relative;
}

.hovered {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 3em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hovered:hover {
    z-index: 333;
    background: rgba(243, 202, 109, 0.85);
}

.hovered:hover::before {
    font-family: 'FontAwesome', serif;
    content: "\f055";
    color: black;
}

.est {
    text-align: center;
    background: url("../images/fon_est.png");
}

.est h3 {
    padding: 20px;
}

.est .yellow {

    padding: 20px;
    margin: 0;
    z-index: 9;
    height: 540px;
    width: 100%;
    background: rgba(243, 202, 109, 0.85);
}

.est .icon img {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 40%;
}

.est a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 200px;

}

.est .order {

    background: url("../images/order_fon.png");
    background-size: cover;
}

.est .blog {

    background: url("../images/fon_blog.png");
    background-size: cover;
}

.est .photo {

    background: url("../images/photo_fon.png");
    background-size: cover;
}

.est .black, .est .white {
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 33;
    width: 100%;
    height: 100%;
}

.est .black {
    color: white;
    background: rgba(0, 0, 0, 0.666);
}

.est .white {
    color: black;
    background: rgba(255, 255, 255, 0.666);
}

@media all and (max-width: 660px) {
    header {
        height: 75px;
    }

    header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        text-align: center;
        height: 40px;
        line-height: 40px;
        font-size: 30px;
    }

    header nav {
        display: block;
        float: none;
        text-align: center;
        margin: 0 auto;
        height: 35px;
    }

    header nav a, header nav > ul {
        margin: 0 10px;
        line-height: 35px !important;
    }
}

@media all and (max-width: 600px) {
    .container {
        width: 100%;
    }

    #info-bar a {
        display: block;
    }

    #info-bar span.all-tutorials,
    #info-bar span.back-to-tutorial {
        width: 100%;
    }

    #info-bar span.all-tutorials,
    #info-bar span.back-to-tutorial {
        float: none;
        text-align: center;
    }

    #info-bar span.all-tutorials {
        border-bottom: solid 1px #0793e2;
    }
}
