html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    line-height: 1;
    font-weight: 300;

}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

a img {
    border: none;
}

body {
    font-family: "Poiret One", sans-serif;
    font-weight: 300;
    line-height: 1.8;
}

a {
    text-decoration: none;
}

.container {
    width: 100% !important;
    padding: 0;
    margin: 0 auto;
}

.language {
    border: 1px solid transparent;
    color: black !important;
    text-align: left;
    background-color: transparent !important;
}

.main_language a.dropdown-toggle,
.main_language a.dropdown-toggle:hover {
    background-color: transparent !important;
    color: #68b3eb !important;
}

a.dropdown-toggle {
    position: relative;
}

.main_language .dropdown a:hover {
    color: white !important;
}

.language_dropdown {
    padding: 0 !important;
}

.language_dropdown {
    max-width: 50px;
    width: 35px !important;
    min-width: 35px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.fixed {
    position: fixed;
    width: 100%;
    z-index: 666;
}

.header {
    background: #121619;
    padding-top: 10px;
    height: 150px;
}

.social_network {
    color: white;
}

.social_network a {
    margin: 5px;
    float: right;
    color: white;
}

.mani_inf, .exit {
    padding-top: 30px;
    display: flex;
    align-content: center;
}

.mani_inf {
    left: 50px;
}

.mani_inf span {
    line-height: 1.2;
    margin: 0 10px 0 0;
}

.mani_inf span a {
    color: white;
    font-size: 15px;
    display: block;
    margin-top: 10px;
}

.mani_inf span .work-time {
    color: #68b3eb;
    margin: 0 9px;
    font-size: 17px;
}

.mani_inf .fa-mobile {
    left: 0;
    color: #f7fbfe;
    font-size: 4em;
}

.mani_inf .fa-map-marker{
    font-size: 4em;
}

.logo {
    cursor: pointer;
    display: flex;
    align-content: center
}

.logo img {
    margin: 0 auto;
    width: 22%;
    height: 22%;
}

.exit {
    justify-content: flex-end;
    right: 60px;

}

.exit a {
    margin: 10px 10px 0 0;
    color: white;
    font-size: 1.5em;
}

.exit .fa-shopping-basket {
    color: white;
    font-size: 2em;
    position: relative;
    margin-top: 10px;
}

.exit .quantity_of_goods {
    text-align: center;
    font-size: 1.7rem;
    color: #121619;
    top: -11px;
    right: -7px;
    width: 19px;
    height: 19px;
    position: absolute;
    background-color: #ffc84b;
    border-radius: 50%;
}

.menu {
    text-align: center;
    padding: 0.3%;
}

.menu a {
    padding: 0 2%;
    color: #f7fbfe;
    text-decoration: none;
    font-size: 22px;
}



.custom-sel div {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin: 0;
    text-align: left;
    color: #68b3eb;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    display: block;
    position: relative;
    z-index: 333;
    background-color: #121619;
}

.custom-sel div.selected {
    background-color: transparent;
}

.hidden {
    display: none;
}

.lightblue {
    color: #68b3eb;
    margin-left: -4px;
}

.show-sel {
    background-color: #ffffff;
    box-shadow: -5px 0 65px 0 rgba(0, 0, 0, 0.18);
}

.custom-sel {
    margin-bottom: 10px;
    display: inline-block;
    float: right;
    position: relative;
    right: 45px;
    bottom: 10px;
    width: 60px;
    height: 40px;
}

.custom-sel div:hover, .custom-sel div:hover i {
    cursor: pointer;
}

.main_language .lang_name::after {
    margin-left: 10px;
    content: "";
    border: solid currentColor;
    border-width: 0 .2em .2em 0;
    display: inline-block;
    padding: .20em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.landing-menu {
    padding: 0 0 20px;
    height: 35em;
}

.landing-menu-row {
    height: 100%;
}

.landing-menu-row * {
    height: 100%;
}

.landing-menu-row .col-sm-12 {
    height: 50% !important;
}

.language {
    float: right;
}

.footer {
    color: white;
    background: url("../images/fon_footer.png");
    height: 35em;

}

.footer .black {
    height: 35em;
    margin: 0;
    z-index: 9;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
}

.footer .logo_footer {
    margin-top: 15px;
}

.footer .logo_footer img{
    display: block;
    position: relative;
    bottom: 5%;
    height: 17%;
    width: 17%;
    margin: 0 auto;
}

.footer .social_network{
    right: 50px;
    font-size: 63px;
}

.newsletters {
    padding: 30px;
    text-align: center;
}

.newsletters h3{
    font-size: 25px;
}

.newsletters .email_newsletters{
    height: 30px;
    width: 250px;
    padding: 5px;

}
.newsletters .email_newsletters::placeholder {
    color: #f7fbfe;



}

.newsletters .button_newsletters{
    width: 120px;

}

.newsletters .email_newsletters, .newsletters .button_newsletters {
    margin: 20px 5px;
    border: 1px solid white;
    background-color: inherit;
}

.slider {
    margin-top: 150px;
    padding-left: 20px;
    background: url('../images/fon1.jpg') 100% 100% no-repeat;
    background-size: cover;
    height: 44em;
    color: white;
    display: flex;
    align-items: center;
}

.slider i, .menu_title i{
    position: absolute;
    font-size: 5em;
    bottom: 0px;
    cursor: pointer;


}
.slider i{
    left: calc(50% - 20px);
}
.slider p {
    line-height: 1.2;
    font-size: 34px;
    text-align: center;
    margin-left: 2%;
}

.menu_title {
    padding: 25px 0;
    background: #1a1b1f;
    color: white;
    text-align: center;
    height: 44.2em;

}

.menu_title i{
    left: calc(50.1% - 20px);
}



.salt {
    background: url('../images/salt.png');
}

.big {
    overflow: hidden;
    height: 100%;
}

.big img {
    display: block;
    height: 115%;
    max-width: 100%;
}



.menu_title h3 {
    padding: 0 0 25px;
    font-size: 26px;

}

.no-padding {
    padding: 0;
}

.no-padding img {
    width: 100%;
}

.no-margin {
    margin: 0;
}

.relative > div {
    position: relative;
}

.hovered {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 3em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hovered:hover, .hovered.active-hover {
    z-index: 333;
    background: rgba(255, 200, 75, 0.87);
}

.hovered:hover::before,.hovered.active-hover::before {
    font-family: 'FontAwesome', serif;
    content: "\f055";
    color: black;
}

.col-centered{
  display: block;
  margin: auto;
  float: none;
  text-align: center;
}

.est {
    text-align: center;
    background: url("../images/fon_est.png") 100% 50% no-repeat;
    height: 40em;
}

.est h3 {
    padding: 10px 0 35px;
    font-size: 26px;
}

.est .yellow {

    padding: 20px;
    margin: 0;
    z-index: 9;
    height: 40em;
    width: 100%;
    background: rgba(255, 200, 75, 0.87);

}

.est .icon img {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 30%;
}

.mani_inf table {
    width: 100%;
}

span.inline {
    display: inline-block;
}

span.town, span.street {
    font-size: 17px;
}

span.inline .fa-mobile {
    font-size: 3.6em !important;
}

span.inline .fa-map-marker {
    font-size: 3.2em !important;
}

.est .icon {
    font-size: 23px;
    line-height: 1.2;
}

.est a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 200px;
}

.est .order {
    background: url("../images/order_fon.png") 100% 100% no-repeat;
    background-size: cover;
}



.est .blog {
    background: url("../images/fon_blog.png") 0% 100% no-repeat;
    background-size: cover;
}




.est .photo {
    background: url("../images/photo_fon.png") 70% 100% no-repeat;
    background-size: cover;
}



.est .white {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 33;
    width: 100%;
    height: 100%;
    background: rgba(247, 251, 254, 0.67);
    font-size: 27px;
    color: #110f12;

}

.est .white:hover{
    z-index: 333;
    background: rgba(17, 15, 18, 0.87);
    color: #f7fbfe;
    cursor: pointer;
}


@media all and (max-width: 660px) {
    header {
        height: 75px;
    }

    header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        text-align: center;
        height: 40px;
        line-height: 40px;
        font-size: 30px;
    }

    header nav {
        display: block;
        float: none;
        text-align: center;
        margin: 0 auto;
        height: 35px;
    }

    header nav a, header nav > ul {
        margin: 0 10px;
        line-height: 35px !important;
    }
}

@media all and (max-width: 600px) {
    .container {
        width: 100%;
    }

    #info-bar a {
        display: block;
    }

    #info-bar span.all-tutorials,
    #info-bar span.back-to-tutorial {
        width: 100%;
    }

    #info-bar span.all-tutorials,
    #info-bar span.back-to-tutorial {
        float: none;
        text-align: center;
    }

    #info-bar span.all-tutorials {
        border-bottom: solid 1px #0793e2;
    }
}
