{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANG_CODE %}
<div class="container footer">
    <div class="black">
        <div class="newsletters">
            <h3>{% trans 'subscribe to the news' %}</h3>
            <input type="email"
                   class="email_newsletters"
                   placeholder="email"
                    {% if request.user.is_authenticated %}
                        value="{{ request.user.email }}"
                    {% endif %}
            >
            <input type="button" class="button_newsletters" value="{% trans 'subscribe' %}">
        </div>
        <div class="row">
            <div class="mani_inf col-xs-6 col-sm-6 col-md-6">
                <table>
                    <tr>
                        <td>
                            <span class="inline"><i class="fa fa-mobile" aria-hidden="true"></i> </span>
                            <span class="inline">
                                <a href="tel:+380959999999">+ 38 (095) 999-99-99</a>
                                <span class="work-time"> 9:00 - 23:00 </span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="inline"><i class="fa fa-map-marker" aria-hidden="true"></i> </span>
                            <span class="inline">
                                <span class="town"> {% trans 'м. Чернівці' %}</span><br>
                                <span class="street">{% trans 'вул. Раздва, 13' %}</span>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="social_network col-xs-6 col-sm-6 col-md-6">
                <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-vk" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="logo_footer col-xs-12">
                <img src="{% static 'images/logo.png' %}">
            </div>
        </div>
    </div>
</div>
