{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANG_CODE %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">

<script src="{% static 'js/header.js' %}"></script>
<div class="fixed">
    <div class="container header">

        <div class="mani_inf col-xs-3 col-sm-3 col-md-3">
            <span><i class="fa fa-mobile" aria-hidden="true"></i> </span>
            <span><a href="tel:+ 380959999999">+ 38 (095) 999-99-99</a>
               <p> 9:00 - 23:00</p></span>
        </div>
        <div class="logo col-xs-6 col-sm-6 col-md-6">
            <img src="{% static 'images/logo.png' %}">
        </div>
        <div class="exit col-xs-3 col-sm-3 col-md-3">
            <a href="#">Вхід</a><i class="fa fa-shopping-basket" aria-hidden="true">
            <div class="quantity_of_goods">0{{count}}</div>
        </i>
        </div>
        <div class="menu col-xs-11 col-sm-12 col-md-12">
            <a href="#">Головна</a>
            <a href="#">Доставка</a>
            <a href="#">Ресторан</a>
            <a href="#">Контакти</a>

            <nav class="language">
                <ul class="nav navbar-nav navbar-right main_language">
                    <li class="dropdown" title="{% trans 'CHANGE LANGUAGE TITLE' %}">
                        <a
                                href="#"
                                class="dropdown-toggle"
                                data-toggle="dropdown"
                                role="button"
                                aria-haspopup="true"
                                aria-expanded="false"
                        >

                            <span class="lang_name">{{ LANG_CODE | upper }}</span>

                        </a>
                        <ul class="dropdown-menu language_dropdown">
                            {% with 'uk ru en' as LANGUAGES %}
                            {% for lang in LANGUAGES.split %}
                            {% get_language_info for lang as lang %}
                            <li>
                                <form action="{% url 'set_language' %}" method="post"
                                      name="trans_{{ lang.code }}"
                                      id="trans{{ lang.code | capfirst }}Form"
                                      style="margin: 0;">{% csrf_token %}
                                    <button
                                            name="language"
                                            type="submit"
                                            value="{{ lang.code }}"
                                            class="language"
                                            ng-class="{'active': '{{ LANG_CODE }}' == '{{ lang.code }}'}"
                                    >{{ lang.code | upper }}
                                    </button>
                                </form>
                            </li>
                            {% endfor %}
                            {% endwith %}
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
