{% extends "index.html" %}
{% block body %}
{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANG_CODE %}

<div class="container">
    <div class="slider col-xs-12 col-sm-12 col-md-12">
        <p>Cекрет не в тому з чого, а в<br>
            тому як приготовлена наша<br>
            їжа: з любов’ю, тому і смачно.<br>
        </p>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
    </div>

    <div class="menu_title col-sm-12">
        <h3>Menю</h3>
        <div class="col-sm-12 relative">
            <a href="#" class="col-sm-5 no-padding big">
                <img src="{% static 'images/pizza.png' %}">
                <div class="haver" style="height: 100%;"></div>


            </a>
            <div class=" col-sm-7 no-padding">
                <div class="col-sm-12 no-padding relative">
                    <a class="col-sm-4 no-padding ">
                        <img src="{% static 'images/salt.png' %}">
                        <div class="haver"></div>
                    </a>
                    <a class="col-sm-4 no-padding ">
                        <img src="{% static 'images/salt.png' %}">
                        <div class="haver"></div>

                    </a>
                    <a class="col-sm-4 no-padding ">
                        <img src="{% static 'images/salt.png' %}">
                        <div class="haver"></div>

                    </a>
                </div>
                <div class="col-sm-12 no-padding relative" style="margin-top:-9px;">
                    <a class="col-sm-4 no-padding "><img src="{% static 'images/salt.png' %}">
                        <div class="haver"></div>
                    </a>
                    <a class="col-sm-4 no-padding "><img src="{% static 'images/salt.png' %}">
                        <div class="haver"></div>
                    </a>
                    <a class="col-sm-4 no-padding "><img src="{% static 'images/salt.png' %}">
                        <div class="haver"></div>
                    </a>
                </div>
            </div>

        </div>
        <i class="fa fa-3x fa-angle-down" aria-hidden="true"></i>
    </div>
    <div class="est col-sm-12 no-padding">
        <div class="yellow">
            <h3>Pесторан
            </h3>
            <div class=" col-sm-8 col-sm-offset-2">
                <div class="col-sm-12">
                    <div class=" icon col-sm-4"><img src="{% static 'images/fruit.png' %}">тількі свіжі <br>продукти

                    </div>
                    <a class="order col-sm-4">замовити столику
                        <div class="black">замовити столику</div>
                    </a>
                    <div class="icon col-sm-4"><img src="{% static 'images/menu_icon.png' %}"> власні рецепти</div>
                </div>
                <div class="col-sm-12">
                    <a class="blog col-sm-4">
                        <div class="white">блог</div>
                    </a>
                    <div class="icon col-sm-4"><img src="{% static 'images/car_icon.png' %}"> швидка доставка</div>
                    <a class="photo col-sm-4">
                        <div class="white">галарея</div>
                    </a>
                </div>


            </div>
        </div>
    </div>


</div>


{% endblock %}