{% extends "index.html" %}
{% block body %}
{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANG_CODE %}

<div class="container">
    <div class="slider col-xs-12 col-sm-12 col-md-12">
            <p>{% trans 'Cекрет не в тому з чого, а в<br> тому як приготовлена наша<br> їжа: з любов’ю, тому і смачно.<br>' %}</p>
        <i class="fa fa-angle-down" aria-hidden="true" scroll-arrow></i>
    </div>
    <div class="menu_title col-sm-12">
        <h3>{% trans 'меню' %}</h3>
        <div class="col-sm-12 relative landing-menu">
            <a href="#" class="col-sm-5 no-padding big">
                <img src="{% static 'images/pizza.png' %}">
                <div class="hovered" style="height: 100%;"></div>
            </a>
            <div class=" col-sm-7 no-padding landing-menu-row">
                <div class="col-sm-12 no-padding relative">
                    <a class="col-sm-4 no-padding ">
                        <img src="{% static 'images/burger.jpg' %}">
                        <div class="hovered"></div>
                    </a>
                    <a class="col-sm-4 no-padding ">
                        <img src="{% static 'images/salt.jpg' %}">
                        <div class="hovered"></div>
                    </a>
                    <a class="col-sm-4 no-padding ">
                        <img src="{% static 'images/desert.jpg' %}">
                        <div class="hovered"></div>
                    </a>
                </div>
                <div class="col-sm-12 no-padding relative">
                    <a class="col-sm-4 no-padding "><img src="{% static 'images/sandwich.jpg' %}">
                        <div class="hovered"></div>
                    </a>
                    <a class="col-sm-4 no-padding "><img src="{% static 'images/lang.jpg' %}">
                        <div class="hovered"></div>
                    </a>
                    <a class="col-sm-4 no-padding "><img src="{% static 'images/drink.jpg' %}">
                        <div class="hovered"></div>
                    </a>
                </div>
            </div>
        </div>
        <i class="fa fa-angle-down" aria-hidden="true" scroll-arrow></i>
    </div>
    <div class="est col-sm-12 no-padding">
        <div class="yellow">
            <h3>{% trans 'restaurant' %}
            </h3>
            <div class=" col-sm-7 col-centered">
                <div class="col-sm-12">
                    <div class=" icon col-sm-4"><img src="{% static 'images/fruit.png' %}">
                        {% blocktrans %}only fresh <br>products{% endblocktrans %}
                    </div>
                    <a class="order col-sm-4">
                        <div class="white">{% trans 'order a table' %}</div>

                    </a>
                    <div class="icon col-sm-4"><img src="{% static 'images/alcohol.png' %}">{% trans 'own recipes' %}</div>
                </div>
                <div class="col-sm-12">
                    <a class="blog col-sm-4">
                        <div class="white">{% trans 'blog' %}</div>
                    </a>
                    <div class="icon col-sm-4"><img src="{% static 'images/delivery.png' %}">{% trans 'fast delivery' %}</div>
                    <a class="photo col-sm-4">
                        <div class="white">{% trans 'gallery' %}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}