{% extends "index.html" %}
{% block body %}
{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANG_CODE %}

<div class="container">
    <div class="slider col-xs-12 col-sm-12 col-md-12">
            <p>{% trans 'Cекрет не в тому з чого, а в<br> тому як приготовлена наша<br> їжа: з любов’ю, тому і смачно.<br>' %}</p>
        <i class="fa fa-angle-down" aria-hidden="true" scroll-arrow></i>
    </div>
    <div class="menu_title col-sm-12">
        <h3>{% trans 'меню' %}</h3>
        <div class="col-sm-12 relative landing-menu">
            <a href="#" class="col-sm-5 no-padding big">
                <img src="{% static 'images/pizza.png' %}">
                <div class="hovered" style="height: 100%;"></div>
            </a>
            <div class=" col-sm-7 no-padding landing-menu-row">
                <div class="col-sm-12 no-padding relative">
                    <a class="col-sm-4 no-padding ">
                        <img src="{% static 'images/salt.png' %}">
                        <div class="hovered"></div>
                    </a>
                    <a class="col-sm-4 no-padding ">
                        <img src="{% static 'images/salt.png' %}">
                        <div class="hovered"></div>
                    </a>
                    <a class="col-sm-4 no-padding ">
                        <img src="{% static 'images/salt.png' %}">
                        <div class="hovered"></div>
                    </a>
                </div>
                <div class="col-sm-12 no-padding relative">
                    <a class="col-sm-4 no-padding "><img src="{% static 'images/salt.png' %}">
                        <div class="hovered"></div>
                    </a>
                    <a class="col-sm-4 no-padding "><img src="{% static 'images/salt.png' %}">
                        <div class="hovered"></div>
                    </a>
                    <a class="col-sm-4 no-padding "><img src="{% static 'images/salt.png' %}">
                        <div class="hovered"></div>
                    </a>
                </div>
            </div>
        </div>
        <i class="fa fa-3x fa-angle-down" aria-hidden="true" scroll-arrow></i>
    </div>
    <div class="est col-sm-12 no-padding">
        <div class="yellow">
            <h3>{% trans 'ресторан' %}
            </h3>
            <div class=" col-sm-8 col-sm-offset-2">
                <div class="col-sm-12">
                    <div class=" icon col-sm-4"><img src="{% static 'images/fruit.png' %}">
                        {% blocktrans %}тількі свіжі <br>продукти{% endblocktrans %}
                    </div>
                    {% trans 'замовити столик' as  order_table%}
                    <a class="order col-sm-4">{{ order_table }}
                        <div class="black">{{ order_table }}</div>
                    </a>
                    <div class="icon col-sm-4"><img src="{% static 'images/menu_icon.png' %}">{% trans 'власні рецепти' %}</div>
                </div>
                <div class="col-sm-12">
                    <a class="blog col-sm-4">
                        <div class="white">{% trans 'блог' %}</div>
                    </a>
                    <div class="icon col-sm-4"><img src="{% static 'images/car_icon.png' %}">{% trans 'швидка доставка' %}</div>
                    <a class="photo col-sm-4">
                        <div class="white">{% trans 'галарея' %}</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}