.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

small {
    font-size: 100%;
    float: right;
}

.mr-half {
    margin-right: 50%;
}

.full_right {
    float: right !important;
}

.btn:focus, .btn:active {
    outline: none !important;
}

.login-signup {
    text-align: center;
}

.auth-container {
    background: rgba(18,22,25, 0.96);
}

.text-auth-container {
    margin: 150px 0 0 0;
    padding: 5% 10%;
    display: block;
}

.container {
    background-color: rgba(18,22,25, 0.96);
    color: #f7fbfe;
}

.login-form {
    color: white;
    margin-top: 180px;
    font-size: 1.8rem;
}

form .form-group .col-sm-6:first-child {
    padding-left: 0 !important;
}

form .form-group .col-sm-6:nth-child(2) {
    padding-right: 0 !important;
}


.remember-me {
    font-size: 2rem;
    display: inline-block;
    font-weight: 600;
}

.label-default {
    margin-bottom: 7px !important
}

.errorlist {
    color: red;
}

.btn {
    background-color: buttonface;
    color: #333 !important;
}

.form-control {
    font-size: 20px;
}

.auth-content {
    margin-top: 150px;
}

.text-auth-container input[type="email"],
.text-auth-container input[type="password"] {
    background: transparent;
    border: 1px solid white;
    color: white;
    margin: 10px 25px;
}

.text-auth-container input[type="submit"],
.text-auth-container button[type="submit"] {
    background: transparent;
    border: 1px solid white;
    color: white;
    margin: 10px 0;
}
